extends layout

block content
    h1 Add Book
    br
    hr
    form(method='POST', action='/book/add/newbook')
        #form-group
            label Title:
            input.form-control(name='title', type='text')
        #form-group
            label Genre:
            textarea.form-control(name='Genre')
        br
        hr
        input.btn.btn-primary(type='submit' , value='Submit')


